* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
    color:#292F33;
    font-family: 'Inter', sans-serif;
}

.logo img {
    height: 80px;
    width: 80px;
}

a{
    text-decoration: none;
    color:#6ebad5;
}

.logogin a{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color:#6ebad5; 
    background-color: #162533; 
    border-radius: 3px; 
    padding: 7px;
    letter-spacing: 2px;
}

.logogin a:hover {
    color: #162533; /* Cambia el color del enlace al pasar el mouse */
    background-color: #6ebad5;
    border-radius: 3px;
    padding: 7px;
    letter-spacing: 2px;
}

.logogin {
    position:sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.fondo-movimiento {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      animation: cambiarFondo 15s infinite;
      background-size: cover;
      background-position: center;
}

.fondo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Debajo del contenido pero arriba del fondo */
    background-color: #292F33;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none; /* No interfiere con clics */
}

.fondo-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Debajo del contenido pero arriba del fondo */
    background-color: #292f33e8;
    pointer-events: none; /* No interfiere con clics */
}

@keyframes cambiarFondo {
    0%   { background-image: url('imgs/WhatsApp\ Image\ 2025-06-05\ at\ 13.53.09.jpeg'); }
    33%  { background-image: url('imgs/WhatsApp\ Image\ 2025-06-05\ at\ 13.53.09\ \(1\).jpeg'); }
    66%  { background-image: url('imgs/WhatsApp\ Image\ 2025-06-05\ at\ 13.53.09\ \(2\).jpeg'); }
    100% { background-image: url('imgs/WhatsApp\ Image\ 2025-06-05\ at\ 13.53.09.jpeg'); }
}

.contenido-principio {
    position: relative;
    z-index: 1;
    color: #F2F0C9;
    text-align: left;
    padding: 92px 100px;
    margin: 0 125px 125px 0px ;
}

.info-2 {
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 10px; /* Espacio entre las columnas y filas */
    max-width: 1200px; /* Limita el ancho de la cuadrícula */
    margin: auto; /* Centra la cuadrícula */
    padding: 10px 10px; /* Espacio lateral */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    width: 100%; /* Ocupa todo el ancho disponible */
    border-radius: 8px;
    z-index: 1;
}

.info-3 {
    max-width: 450px; /* Limita el ancho de la cuadrícula */
    margin: 0px auto; /* Centra la cuadrícula */
    padding: 5px 5px; /* Espacio lateral */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    width: 100%; /* Ocupa todo el ancho disponible */
    border-radius: 8px;
    z-index: 1;
}

.info-2 article:nth-child(3) {
    grid-column: span 2; /* Ocupa dos columnas */
}

.art-info {
    background-color:#F2F0C9;
    padding: 20px; /* Relleno interior */
    border-radius: 8px;
    box-shadow: 0px 0px 33px #16253397; /* sombra suave */
    max-width: 1200px; /* Limita el ancho del artículo */
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

.form-art-info {
    grid-column: span 2; /* para que ocupe las 2 columnas */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F0C9;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 0px 33px #16253397; /* sombra suave */
    margin-bottom: 20px;
}

.form-art-info form {
    width: 100%;
    max-width: 600px;
    
}

footer {
    background-color: #162533; /* Fondo oscuro */
    color: #F2F0C9; /* Color del texto en el footer */
    padding: 10px 0; /* Espacio en el pie de página */
    text-align: center; /* Centra el texto */
    width: 100%; /* Ocupa todo el ancho */
    margin-top: auto; /* Empuja el pie de página al fondo */
    margin-bottom: 0px;
    z-index: 1;
}

.boton {
    background-color: #162533;
    color:#6ebad5;
    padding: 7px;
    border-radius: 3px;
    letter-spacing: 2px;
}

.boton:hover {
    background-color: #6ebad5;
    color:#162533;
    padding: 7px;
    border-radius: 3px;
    letter-spacing: 2px;
}
